body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: #333333;
}

.container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    margin-left: 40px;
}
.half-width img{
    width: 80%;
    padding-left: 40px;
}
.text-color{
    color: #FFAD5A;
}
.button{
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
}
#spacing{
    padding-bottom: 20px;
}
#another-spacing{
    padding-top: 20px;
}

.top-line{
    border-left: 5px solid #FF5959;
    padding-left: 15px;
    border-radius: 1px;
}
#blue-text{
    color: #13103A;
    text-align: center;
    font-weight: 700;
}
.cards{
    margin-right: 80px;
    margin-left: 80px;

}

.mission{
    background-color: #edf5f6;
    border-radius: 20px;
    text-align: justify;    
    margin-right: 30px;

}
.mission img{
    width: 50%;
}
.vission{
    background-color: #FFEEEE;
    border-radius: 20px;
    margin-right: 30px;
    text-align: justify;
    
}
.vission img{
    width: 50%;
}
.goals{
    background-color: #FFF4D6;
    border-radius: 20px;
    margin-right: 30px;
    text-align: justify;
}
.goals img{
    width: 50%;
}